.customer-info-container {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  .customer-name {
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  .customer-items-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    .customer-items-title {
      padding-bottom: 0.5rem;
    }
    .input-customer-items-container {
      display: flex;
      padding-bottom: 1rem;
      label {
        padding-right: 1rem;
      }
      .input-customer-items {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .item-info-area {
      padding-bottom: 1rem;
      display: flex;
      flex-flow: row wrap;
      .info-sub {
        display: flex;
        div {
          display: flex;
          justify-content: center;
        }
        .info-in {
          width: 90px;
        }
        .info-cin {
          width: 160px;
        }
        .info-cpp {
          width: 110px;
        }
        .info-lpc {
          width: 100px;
        }
      }
      .info-dt {
        width: fit-content;
        color: #f15c22;
      }
    }
    .item-header {
      padding-bottom: 0.5rem;
    }
  }
}

@media all and (max-width: 760px) {
  .customer-info-container {
    flex-direction: column;
    align-items: center;
    .desktop-only {
      display: none;
    }
    .customer-name {
      padding-bottom: 2rem;
    }
    .customer-items-container {
      padding-left: 0;
      align-items: center;
      .item-info-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        .info-sub {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          grid-template-areas:
            'info-in  info-cpp'
            'info-cin info-lpc';
          div {
            display: flex;
            justify-content: flex-start;
          }
          .info-in {
            width: 90px;
            grid-area: info-in;
          }
          .info-cin {
            width: 160px;
            grid-area: info-cin;
          }
          .info-cpp {
            width: 110px;
            grid-area: info-cpp;
          }
          .info-lpc {
            width: 100px;
            grid-area: info-lpc;
          }
        }
        .info-dt {
          width: fit-content;
          color: #f15c22;
        }
      }
      .item-header {
        padding-bottom: 0.5rem;
      }
    }
  }
}
