.header-and-guest-warning {
  .guest-user-warning {
    height: 2rem;
    background-color: red;
    color: white;
    display: grid;
    place-items: center;
  }
  .header-background-color {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #f15c22;
    .background-rays {
      position: absolute;
      background-color: #f15c22;
      width: 100%;
      z-index: 1;
      path {
        fill: #f26d39;
        transform: translateY(-600px);
        animation: 1s ease-out 0s 1 raysAnimation;
      }
    }
    .header-and-subheader {
      position: relative;
      z-index: 1;
      header {
        height: 100px;
        padding: 0 15px;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        place-items: center;
        img {
          height: 75px;
        }
        .delicious-things {
          img {
            margin-top: 25px;
            width: 300px;
          }
        }
        .close-button {
          display: none;
        }
        .hamburger-button {
          display: none;
        }
      }
      .sub-header {
        height: 50px;
        background-color: rgba(0, 0, 0, 0.85);
        color: rgba(255, 255, 255, 0.85);
        display: grid;
        place-items: center;
        .subheader-links {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
        .mobile-only {
          display: none;
        }
        .login-link {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          color: rgba(255, 255, 255, 0.75);
          text-decoration: none;
          .logout {
            margin-left: 0.5rem;
          }
        }
        .item-menu,
        .customer-menu {
          display: flex;
          flex-direction: row;
          align-items: center;
          label {
            padding-right: 0.5rem;
          }
        }

        .subheader-button {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

@media all and (max-width: 640px) {
  .header-and-guest-warning {
    .header-background-color {
      .header-and-subheader {
        header {
          .delicious-things {
            display: none;
          }
          .b-corp {
            display: none;
          }
        }
        .sub-header {
          .mobile-only {
            display: flex;
          }
          .desktop-only {
            display: none;
          }
        }
      }
    }
    .guest-user-warning {
      font-size: small;
    }
  }
}
