.item-info-screen {
  display: flex;
  width: 100%;
  justify-content: center;
  .item-info-container {
    min-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    .item-number {
      color: #f15c22;
      width: 100%;
      display: flex;
      justify-content: center;
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid #f15c22;
    }
    .item-info {
      border-bottom: 1px solid #f15c22;
      div {
        display: flex;
        flex-direction: row;
        .item-title {
          width: 30%;
          display: flex;
          justify-content: flex-end;
        }
        .item-subtitle {
          width: 70%;
          margin-left: 1rem;
          padding-bottom: 1rem;
          font-weight: lighter;
        }
      }
    }
  }
}
@media all and (max-width: 640px) {
  .item-info-screen {
    .item-info-container {
      min-width: 320px;
      .item-info {
        div {
          flex-direction: column;
          align-items: center;
          .item-title {
            width: 90%;
          }
          .item-subtitle {
            width: 90%;
          }
        }
      }
    }
  }
}
