.lbs-to-cases-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  div {
    padding-bottom: 0.5rem;
  }
  input {
    height: 1.5rem;
    width: 90px;
    margin-right: 1rem;
  }
  .input-and-warning {
    display: flex;
    flex-direction: row;
    align-items: center;
    .warning {
      padding-left: 1rem;
      color: red;
    }
  }
}

@media all and (max-width: 640px) {
  .lbs-to-cases-container {
    input {
      margin-right: 0.5rem;
    }
    .input-and-warning {
      .warning {
        font-size: small;
        padding-left: 0.5rem;
      }
    }
  }
}
