@keyframes raysAnimation {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-600px);
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Nanum Gothic', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  .sm-bold {
    font-weight: bold;
  }
  .md-bold {
    font-size: 1.1rem;
    font-weight: bold;
  }
  .lg-bold {
    font-size: 1.6rem;
    font-weight: bold;
  }
}

.App {
  min-height: 100%;
  .body-container {
    display: flex;
    padding: 30px;
    min-height: calc(100vh - 150px);
    background-color: white;
    .home-view {
      font-weight: bolder;
      min-height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .home-hi-user {
        padding-bottom: 15px;
        font-weight: bolder;
        font-size: 2.2rem;
        color: #f15c22;
      }
      .home-welcome {
        padding-bottom: 15px;
        font-weight: bolder;
        font-size: 2.2rem;
        color: #000000a4;
      }
      .home-message {
        font-size: 1.5rem;
      }
    }
  }
}
